html {
    font-size:18px;
    overflow-x: hidden!important;
    position: relative;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url(images/crossword-bg.jpg);
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    height: 110vh;
    width: 101%;
}

#loader { 
    border: 12px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 12px solid #444444; 
    width: 70px; 
    height: 70px; 
    animation: spin 1s linear infinite; 
} 
  
@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
} 
  
.center { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
} 

#title {
    padding-top: 2rem;
    margin-bottom: 4rem;
    font-family: 'Dancing Script', cursive;
}

.across-row, .down-row {
    background-color: white;
    border-radius: 2rem;
    opacity: 90%;
}

.hints {
    padding: 2rem 0rem 2rem 4rem;
}

li {
    list-style: none;
}

.hint-column {
    margin-top: 1rem;
    margin-left: 3rem;
}

.across-col, .down-col {
    padding-top: 2rem;;
}

.across-row, .down-row {
    margin: 2rem;
}

/* .puzzle-column {
    padding-top: 0rem;
} */