body {
    font-size:18px;
    overflow-x: hidden!important;
    position: relative;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

#title {
    margin-top: 2rem;;
    font-family: 'Dancing Script', cursive;
    font-size: 8rem;
}