html {
    font-size:14px;
    overflow-x: hidden!important;
    position: relative;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

#loader { 
    border: 12px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 12px solid #444444; 
    width: 70px; 
    height: 70px; 
    animation: spin 1s linear infinite; 
} 
  
@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
} 
  
.center { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
} 

#title {
    padding-top: 2rem;
    margin-bottom: 4rem;
    font-family: 'Dancing Script', cursive;
}

#leftquotes, #rightquotes {
    margin-top: 3rem;
}

.outer-row {
    padding: 2rem;
}

.slideshow-container {
    position: relative;
    margin: auto;
    max-width: 75%;
    padding: 0rem 1rem 3rem 1rem;
}

.quotes {
    padding-top: 2rem;
}

img {
    max-width:90%;
    max-height:60%;
}

p {
    padding: 1rem;
    background-color: rgba(255, 182, 193, 0.3);
    border-radius: 2rem;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 10s;
    animation-name: fade;
    animation-duration: 10s;
}

@-webkit-keyframes fade {
    from {opacity: 60%} 
    to {opacity: 100%}
}

@keyframes fade {
    from {opacity: 70%} 
    to {opacity: 100%}
}