html {
    font-size:14px;
    overflow-x: hidden!important;
    position: relative;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

#title {
    padding-top: 2rem;
    margin-bottom: 4rem;
    font-family: 'Dancing Script', cursive;
}

#leftquotes, #rightquotes {
    margin-top: 3rem;
}

.outer-row {
    padding: 2rem;
}

.slideshow-container {
    position: relative;
    margin: auto;
    max-width: 75%;
    padding: 0rem 1rem 3rem 1rem;
}

.quotes {
    padding-top: 2rem;
}

img {
    max-width:90%;
    max-height:60%;
}

p {
    padding: 1rem;
    background-color: rgba(255, 182, 193, 0.3);
    border-radius: 2rem;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 10s;
    animation-name: fade;
    animation-duration: 10s;
}

@-webkit-keyframes fade {
    from {opacity: 60%} 
    to {opacity: 100%}
}

@keyframes fade {
    from {opacity: 70%} 
    to {opacity: 100%}
}