html {
    margin:0;
    overflow-x: hidden!important;
}
body {
    font-size:18px;
    position: top;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-image: url(images/hearts.jpg);
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    height: 110vh;
    width: 101%;
    z-index:-10;
}

#typing-div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .65fr .3fr;
    justify-items: center;
    align-items:center;
}

#title {
    margin-top: 2rem;;
    font-family: 'Dancing Script', cursive;
    font-size: 8rem;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;    
}

#card-div {
    padding-left: 2.5rem;
}

.quarters {
    padding: 3rem;
}

.img-row {
    display: flex;
    height: 100%;
}

footer {
    text-align: center; 
    vertical-align: middle;
    line-height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}